@import '../../css/variables';

.flash-banner {
  color: white;

  &__error {
    background: $error;
  }

  &__success {
    background: $success;
  }

  &__error,
  &__success {
    height: 2rem;
    margin-bottom: 2rem;
    text-align: center;
  }
}